
body{
    margin:0;
    padding:0;
    font-family: roboto;
}

header{
    display:flex;
    justify-content: space-between;
}

.headerLogo{
    max-height: 100px;
}


nav{
    display:flex;
    align-items: center;
}

nav ul{
    width:500px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


section {
    min-height: 500px;
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

#hero{
    color:white;
    background-color: black;
    min-height: 800px;
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

#who {
    max-width:900px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.priceLevels{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.priceCard{
    width:300px;
    margin:10px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}