
header{
    display:flex;
    justify-content: space-between;
}

.headerLogo{
    max-height: 100px;
}


nav ul{
    width:500px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


